<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<link rel="stylesheet" href="../../../static/css/index.css">

    <!--<th:block th:replace="fragments/config ::configFragment"></th:block>-->
<head>
    <meta charset="UTF-8">
    <title>ssackdama</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
    <body>
        <!--header-->
        <th:block th:replace="fragments/header :: headerFragment(header)"></th:block>

        <!--content-->
        <th:block layout:fragment="content">
            <div class="container">

                <div class="container">

                </div>


                <div class="row">
                    <div class="col" id="advertise" area-label="광고 영역">
                        <div id="adCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#adCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#adCarousel" data-slide-to="1"></li>
                                <li data-target="#adCarousel" data-slide-to="2"></li>
                            </ol>

                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="../../../static/img/banner-ad1.png" style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="../../../static/img/banner-ad2.png"  style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="../../../static/img/banner-ad3.png"  style="width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col" area-label="지금 바로 올라온 공고 영역">
                        <div class="main_title">지금 바로 올라온 공고&nbsp
                                <img src="../../../static/img/emoji-smile.svg"/>
                        </div>
                        <div class="main_area">
                        <div class="card-list">
                            <div class="card">
                                <img src="../../../static/img/food.svg" class="img-fluid rounded-start">
                                <div class="card-body">
                                    <div class="card-title">팟타이</div>
                                    <p class="card-text" style="text-align:right;margin-bottom:12px;color:#152536;"> 남은 수량 : 5인분</p>
                                    <p class="card-text" style="color:#68717A;">사람들에게 맛있다고 소문난 맛집! 흔치않은 기회임</p>
                                    <p class="card-text"> Last Order : 10시 30분</p>
                                    <p class="card-text" style="font-size:12px;text-align:right;color:#ABB5BE;">3분전 업로드</p>
                                    <p class="card-text"style="font-size:12px;text-align:right;color:#ABB5BE;"> 자세히 보러가기</p>
                                </div>
                            </div>
                            <div class="card">
                                <img src="../../../static/img/food.svg" class="img-fluid rounded-start">
                                <div class="card-body">
                                    <div class="card-title">팟타이</div>
                                    <p class="card-text" style="text-align:right;margin-bottom:12px;color:#152536;"> 남은 수량 : 5인분</p>
                                    <p class="card-text" style="color:#68717A;">사람들에게 맛있다고 소문난 맛집! 흔치않은 기회임</p>
                                    <p class="card-text"> Last Order : 10시 30분</p>
                                    <p class="card-text" style="font-size:12px;text-align:right;color:#ABB5BE;">3분전 업로드</p>
                                    <p class="card-text"style="font-size:12px;text-align:right;color:#ABB5BE;"> 자세히 보러가기</p>
                                </div>
                            </div>
                            <div class="card">
                                <img src="../../../static/img/food.svg" class="img-fluid rounded-start">
                                <div class="card-body">
                                    <div class="card-title">팟타이</div>
                                    <p class="card-text" style="text-align:right;margin-bottom:12px;color:#152536;"> 남은 수량 : 5인분</p>
                                    <p class="card-text" style="color:#68717A;">사람들에게 맛있다고 소문난 맛집! 흔치않은 기회임</p>
                                    <p class="card-text"> Last Order : 10시 30분</p>
                                    <p class="card-text" style="font-size:12px;text-align:right;color:#ABB5BE;">3분전 업로드</p>
                                    <p class="card-text"style="font-size:12px;text-align:right;color:#ABB5BE;"> 자세히 보러가기</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="main_title">내 주변 마감세일 찾기&nbsp
                            <img src="../../../static/img/geo-alt.svg"/>
                        </div>

                        <div class="main_area">
                        <div class="form-group row" style="display:flex;justify-content: flex-end;">
                                <div class="area_picker">
                                    <label for="firstarea" class="form-label" style="margin-right:10px;">시/도</label>
                                    <div >
                                        <select class="form-control" id="firstarea">
                                            <option>서울특별시</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="area_picker">
                                    <label for="secondarea" class="form-label"style="margin-right:10px;">시/군/구</label>
                                    <div >
                                        <select class="form-control" id="secondarea">
                                            <option>인생구</option>
                                        </select>
                                    </div></div>
                                <div  class="area_picker">
                                    <label for="thirdarea" class="form-label"style="margin-right:10px;">읍/면/동</label>
                                    <div>
                                        <select class="form-control" id="thirdarea">
                                            <option>행복동</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        <div class="row">
<!--지도 필요함-->
                        </div>

                        <div id="map_area"></div>
                    </div>
                    <div class="col">
                        <div class="main_title">우리 동네 가게 홍보&nbsp
                                <img src="../../../static/img/shop.svg"/>
                        </div>
                        <div class="main_area">
                        <div class="form-group row" style="display:flex;justify-content: flex-end;align-items: center;">
                            <label for="keywordform" class="col-sm-1 col-form-label">키워드</label>
                            <div class="col-sm-2">
                            <select class="form-control" id="keywordform">
                                <option>한식</option>
                                <option>중식</option>
                                <option>일식</option>
                            </select>
                            </div>
                        </div>
                        <div style="height:231px;background:#ABB5BE;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <!--footer-->
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </body>
</html>