<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">

    <th:block th:replace="fragments/config ::configFragment"></th:block>

    <body style="width:100%; display:flex; align-items: center; flex-direction: column;">
        <!--header-->
        <th:block th:replace="fragments/header :: headerFragment(header)"></th:block>

        <!--content-->
        <th:block layout:fragment="content">

        </th:block>

        <!--footer-->
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </body>
</html>