<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <!-- Footer -->
<footer class="text-center" >
    <!-- Section: Links  -->
    <section class="pt-5" style="color:#B7B3B3;background-color:#FFF3CD;">
        <div class="container text-center text-md-start">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>싹담아
                    </h6>
                    <p>
                        싹담아 프로젝트는 오늘 다 팔았다를 도와주는 웹 사이트 입니다. 물론 사업을 하고 있지는 않죠
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        DEVELOPERS
                    </h6>
                    <p>
                        <i class="fab fa-github me-3"></i>
                        <a href="https://github.com/Eundms" class="me-4 text-reset">
                            Eundms
                        </a>

                    </p>
                    <p>
                        <i class="fab fa-github me-3"></i>
                        <a href="https://github.com/SeungJooKim" class="me-4 text-reset">
                            SeungJoo
                        </a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p>
                        <i class="fas fa-home me-3"></i>
                        <a href="https://github.com/bbloomy/ssackdama" class="me-4 text-reset">ssackdama</a>
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        rhzjatn@gmail.com
                    </p>



                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

</footer>
</th:block>
</html>
