<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!--content-->
<th:block layout:fragment="content">
    <div class="container" style="display:flex;justify-content: center;">
        <div  style="margin:50px;width: 436px;height: 519px">
                <img src="img/login-logo.svg" style="width:100px"/>
                <div style="display:flex;font-family: Inter; font-style:Semi Bold; font-size: 33px;justify-content: center;">
                    로그인</div>
                <div  style="display:flex;font-family: Inter; font-size: 16px;color:#8A92A6;justify-content: center;">
                    서비스 사용을 위해 로그인하세요
                </div>
                <form>
                    <div class="form-group">
                        <label for="inputEmail" style="color:#8A92A6;">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword"style="color:#8A92A6;">Password</label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                    <div style="display:flex;justify-content:space-between;">
                        <div class="form-group form-check" >
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" style="color:#8A92A6;"for="rememberMe">remember me?</label>
                        </div>
                        <div style="color:#FEBD01;">비밀번호를 잊으셨습니까?</div>
                    </div>

                    <div style="display:flex;justify-content:center;">
                        <button type="submit" class="btn btn-primary" style="height: 44px;width: 188px;background: #FEBD01;border:0px;border-radius: 4px;">Sign In</button>
                    </div>
                </form>
            <div  style="display:flex;font-family: Inter; font-size: 16px;color:#8A92A6;justify-content: center;">
                계정 만들러 가기
            </div>

        </div>
    </div>
</th:block>
</html>