<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{css/sign.css}">
    <script type="text/javascript">
        function checkPassword(){
            const pw1=document.getElementById("password").value;
            const pw2=document.getElementById("apassword").value;
            console.log(pw1,pw2);
            if(pw1===pw2){
                const submitbtn=document.getElementById('signInBtn');
                submitbtn.disabled = false;
            }
        }
    </script>
</head>
<!--content-->
<th:block layout:fragment="content">
    <div class="container centered">
        <div class="sign-up-in-form">
            <a th:href="@{/}"><img src="img/login-logo.svg" style="width:100px"/></a>
            <div class="title">
                회원 가입</div>



            <form method="post"  th:action="@{/signup}">
                <div th:if="${param.error}">
                    회원 가입에 실패하였습니다.
                    동일한 이메일이 있어요
                </div>
                <div class="form-group gray">
                    <label for="username" >이름</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group gray">
                  <label for="email" class="form-label" >이메일 주소</label>
                    <input type="email" class="form-control" id="email" name="email"aria-describedby="emailHelp">
                </div>

                <div class="form-group gray">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group gray">
                    <label for="apassword">비밀번호 확인</label>
                    <input type="password" class="form-control" id="apassword" name="apassword">
                </div>

                <button id="confirmBtn" onclick="checkPassword()" type="button"class="btn btn-primary confirm">비밀번호 확인</button>

                <div class="col mt-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="role" id="customer" value="CUSTOMER">
                        <label class="form-check-label" for="customer">일반 회원</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="role" id="seller" value="SELLER">
                        <label class="form-check-label" for="seller">판매자 회원</label>
                    </div>
                </div>
                <div style="display:flex;justify-content:center;">
                    <button id="signInBtn"type="submit" disabled="disabled" class="btn btn-primary submit">회원 가입</button>
                </div>
            </form>

        </div>
    </div>
</th:block>


</html>