<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{css/userInfo.css}">
</head>
<!--content-->
<th:block layout:fragment="content">

    <div class="container rounded bg-white mt-5 mb-5 p-5">
        <div class="row">
            <div class="col-md-4 border-right">
                <!--breadcrumb-->
                <div class="d-flex">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">홈</a></li>
                            <li class="breadcrumb-item">
                                <div style="display:inline;" sec:authorize="hasRole('ROLE_SELLER')">
                                    <a th:href="@{/info-seller}">가게 정보</a>
                                </div>
                                <div style="display:inline;" sec:authorize="hasRole('ROLE_CUSTOMER')">
                                    <a th:href="@{/info}">정보</a>
                                </div>
                             </li>
                            <li class="breadcrumb-item active" aria-current="page">회원정보</li>
                        </ol>
                    </nav>
                </div>
                <!--user프로필-->
                <div class="d-flex flex-column align-items-center text-center p-3 py-3">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold"  sec:authentication="name"></span>
                    <span class="text-black-50"><a th:href="@{/withdrawal}">탈퇴</a></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex" style="justify-content:center;">
                    <h4 class="p-4">회원 정보 수정</h4>
                </div>
                <div class="row d-flex" style="justify-content:center;">
                    <div class="col-md-9">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-default-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-default" type="button" role="tab" aria-controls="nav-default" aria-selected="true">기본정보</button>
                                <button class="nav-link" id="nav-password-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-password" type="button" role="tab" aria-controls="nav-password" aria-selected="false">비밀번호</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!--기본정보 변경-->
                            <div class="tab-pane fade show active" id="nav-default" role="tabpanel" aria-labelledby="nav-default-tab">
                                <form method="post" th:action="@{/userInfo}" class="col-* p-2" name="changeUserInfo">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    <div class="row">
                                        <div class="col-md-12"><label class="labels">이름</label>
                                            <input name="username" th:value="${member.username}" type="text" class="form-control" >
                                        </div>
                                        <div class="col-md-12"><label class="labels">전화번호</label>
                                            <input  name="phonenumber" th:value="${member.phonenumber}" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-12"><label class="labels">주소</label>
                                            <input th:value="${member.address}" type="text" class="form-control"></div>
                                        <div class="col-md-12"><label class="labels">우편번호</label>
                                            <input th:value="${member.address}" type="text" class="form-control"></div>
                                        <div class="col-md-6"><label class="labels">시/군/구</label><input type="text" class="form-control" value=""></div>
                                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value=""></div>
                                    </div>
                                    <div class="mt-5 text-center"><button class="btn profile-button" type="submit">수정완료</button></div>
                                </form>

                            </div>
                            <!--비밀번호 변경-->
                            <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">

                                <form class="col-md-* p-2" method="post" th:action="@{/password}" name="changePassword">
                                    <div class="row">
                                        <div class="col-md-12"><label class="labels">현재 비밀번호</label>
                                            <input name="password" type="password" class="form-control" value="" ></div>
                                        <div class="col-md-12"><label class="labels">새 비밀번호</label>
                                            <input name="newPassword" type="password" class="form-control" value=""></div>
                                        <div class="col-md-12"><label class="labels">새 비밀번호 확인</label>
                                            <input name="newPasswordChange` " type="password" class="form-control" value="" ></div>
                                    </div>
                                    <div class="mt-5 text-center"><button class="btn profile-button" type="submit">변경하기</button></div>
                                </form>

                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
    </div>
    </div>

</th:block>


</html>